body {

  font-family: sans-serif;
  background-color: palegoldenrod;
}
.container {
max-width: 1024px;
margin: auto;

}
#Header{
background-color: lightgray;
border-width: 3px;
border-color: black;
border-style: solid;
padding: 20px;

}
#Subtext{
background-color: lightgray;
border-width: 3px;
border-color: black;
border-style: solid;
padding: 20px;

}

#Article1{
background-color: lightgray;
border-width: 3px;
border-color: black;
border-style: solid;
padding: 20px;

}

#Article2{
background-color: lightgray;
border-width: 3px;
border-color: black;
border-style: solid;
padding: 20px;

}
#side{
  background-color: lightgray;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  padding: 20px;
  
  }
/* google css grid nested */
